*{
    padding: 0;
    margin: 0;
    font-family: Tahoma;
    user-select: none;
}
body{
    background-image: url("../img/background.png");
    image-rendering: pixelated;
    background-size: cover;
    cursor: url("../img/cursors/default_arrow.cur"), pointer;
}
button, a{
    cursor: url("../img/cursors/default_link.cur"), pointer;
}
#lowerBar{
    height: 7.5vh;
    width: 100vw;
    background-image: linear-gradient(rgb(120, 112, 228), blue, darkblue);
    position: absolute;
    bottom: 0;
}
#buttonHolder{
    width: 10vw;
    height: 100%;
}
#buttonHolder button{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(lightgreen , green, darkgreen);
    border: none;
    font-size: x-large;
    color: white;
    font-weight: bold;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    transition: 100ms;
}
#buttonHolder button:hover{
    filter: brightness(80%);
}
#sidebarBottom{
    height: 100%;
    width: 15vw;
    background-image: linear-gradient(#58c5ff, #0491f2, rgb(0, 110, 201));
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#bottomClock{
    font-size: 3vh;
    width: fit-content;
    color: white;
    font-weight: lighter;
    justify-content: flex-start;
    padding-right: 2vw;
}
.botSidBut{
    width: 20%;
    height: 100%;
    image-rendering: pixelated;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botSidBut img{
    width: 70%;
    height: auto;
}
.desktopApp{
    width: 4vw;
    height: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    user-select: none;
    text-align: center;
    border-radius: 5px;
}
.desktopApp:hover{
    background-color: rgba(194, 194, 194, 0.514);
}
#contextMenu{
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(182, 182, 182);
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    /* padding-top: 0.5vh;
    padding-bottom: 0.5vh; */
    display: none;
}
#contextMenu a{
    background-color: rgb(182, 182, 182);
    border: inset;
    width: 100%;
    padding-top: 0.1vh;
    padding-bottom: 0.1vh;
    padding-left: 1vh;
    padding-right: 1vh;
}
#contextMenu a:hover{
    background-color: gray;
}
#desktop{
    height: 92.5vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#startMenu{
    position: absolute;
    left: 0;
    bottom: 7.5vh;
    height: 40vh;
    width: 15vw;
    background-image: linear-gradient(rgb(75, 64, 240), blue, darkblue);
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#SMUB{
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(rgb(75, 64, 240), blue, darkblue);
    padding-top: 1vh;
    padding-bottom: 2vh;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    align-content: center;
}
#SMUB h2{
    color: white;
    padding-left: 1vw;
}
#SMAPP{
    padding-top: 1vh;
    background-color: rgb(209, 209, 209);
}
.startApps{
    width: 93.3%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1vw;
    padding-bottom: 0.5vh;
    background-color: white;
    border-bottom: 2px rgb(216, 216, 216) solid;
}
.startApps:hover{
    background-color: rgb(219, 219, 219);
}
.startApps img{
    image-rendering: pixelated;
    padding-right: 1vw;
}
#SMLB{
    background-image: linear-gradient(rgb(75, 64, 240), blue, darkblue);
    height: 5vh;
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
#SMLB img{
    image-rendering: pixelated;
    width: 1.5vw; height: 1.5vw;
    margin-right: 0.5vw;
    padding-left: 1vw;
}
#SMLB p{
    color: white;
    font-weight: bold;
    font-family: Tahoma;
    font-size: large;
}
#SMLB:hover{
    filter: brightness(80%);
}